# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE directories
.vscode/
.idea/
